@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: 'Karla', sans-serif;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 35px;
  padding-left: 35px;
  /* position: relative; */
}

.notes-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.note {
  background-color: transparent;
  /* margin-bottom: 1rem; */
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1rem;
  min-height: 300px;
  /* min-width: 280px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(241, 236, 236);
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add {
  background-color: transparent;
  border: 1px solid grey;
  padding: 1rem;
  min-height: 80px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  color: rgb(241, 236, 236);
  margin: 4rem 0;
}

textarea {
  border: none;
  resize: none;
  background-color: transparent;
  color: #fff;
}

textarea::placeholder {
  font-size: 1rem;
  font-weight: bold;
}

textarea:focus {
  outline: none;
}

small {
  font-size: 1rem;
  font-weight: bold;
}
.note-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.addnote-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.delete-note {
  cursor: pointer;
}

.pin-note {
  cursor: pointer;
}

.save {
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.save:hover {
  background-color: rgb(28, 27, 27);
  border-radius: 8px;
}

.save:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .add {
    margin-left: 12rem;
  }
}
